/*
c - color
d - display
fl - flex
tb - table
rb - ruby
gr - grid
cn - center
tp - top
rg - right
bt - bottom
lf - left
z - z-index
n - none
mx - max
mn - min
*/

/*=====  block-model  ====*/
.d\(n\) {display: none;}
.d\(inh\) {display: inherit;}
.d\(init\) {display: initial;}
.d\(uns\) {display: unset;}
.d\(block\) {display: block;}
.d\(in\) {display: inline;}
.d\(run-in\) {display: run-in;}
.d\(flow\) {display: flow;}
.d\(flow-root\) {display: flow-root;}
.d\(tb\) {display: table;}
.d\(fl\) {display: flex;}
.d\(gr\) {display: grid;}
.d\(rb\) {display: ruby;}
.d\(in-block\) {display: inline-block;}
.d\(in-tb\) {display: inline-table;}
.d\(in-fl\) {display: inline-flex;}
.d\(in-gr\) {display: inline-grid;}
.d\(list-it\) {display: list-item;}
.d\(tb-row-group\) {display: table-row-group;}
.d\(tb-header-group\) {display: table-header-group;}
.d\(tb-footer-group\) {display: table-footer-group;}
.d\(tb-row\) {display: table-row;}
.d\(tb-cell\) {display: table-cell;}
.d\(tb-column-group\) {display: table-column-group;}
.d\(tb-column\) {display: table-column;}
.d\(tb-caption\) {display: table-caption;}
.d\(rb-base\) {display: ruby-base;}
.d\(rb-text\) {display: ruby-text;}
.d\(rb-text-container\) {display: ruby-text-container;}

.pos\(stat\) {position: static;}
.pos\(rel\) {position: relative;}
.pos\(abs\) {position: absolute;}
.pos\(fix\) {position: fixed;}
.pos\(sti\) {position: sticky;}

.tp\(0\) {top: 0;}
.tp\(auto\) {top: auto;}
.tp\(inh\) {top: inherit;}
.tp\(init\) {top: initial;}
.tp\(uns\) {top: unset;}
.rg\(0\) {right: 0;}
.rg\(auto\) {right: auto;}
.rg\(inh\) {right: inherit;}
.rg\(init\) {right: initial;}
.rg\(uns\) {right: unset;}
.bt\(0\) {bottom: 0;}
.bt\(auto\) {bottom: auto;}
.bt\(inh\) {bottom: inherit;}
.bt\(init\) {bottom: initial;}
.bt\(uns\) {bottom: unset;}
.lf\(0\) {left: 0;}
.lf\(auto\) {left: auto;}
.lf\(inh\) {left: inherit;}
.lf\(init\) {left: initial;}
.lf\(uns\) {left: unset;}

.z\(0\) {z-index: 0;}
.z\(auto\) {z-index: auto;}
.z\(inh\) {z-index: inherit;}
.z\(init\) {z-index: initial;}
.z\(uns\) {z-index: unset;}
.z\(rev\) {z-index: revert;}
.z\(0\) {z-index: 0;}
.z\(auto\) {z-index: auto;}
.z\(inh\) {z-index: inherit;}
.z\(init\) {z-index: initial;}
.z\(uns\) {z-index: unset;}
.z\(rev\) {z-index: revert;}

/*flexbox*/
.fl\(n\) {flex: none;}
.fl\(auto\) {flex: auto;}
.fl\(inh\) {flex: inherit;}
.fl\(init\) {flex: initial;}
.fl\(uns\) {flex: unset;}

.fl-bas\(0\) {flex-basis: 0;}
.fl-bas\(auto\) {flex-basis: auto;}
.fl-bas\(inh\) {flex-basis: inherit;}
.fl-bas\(init\) {flex-basis: initial;}
.fl-bas\(uns\) {flex-basis: unset;}
.fl-bas\(cont\) {flex-basis: content;}
.fl-bas\(fill\) {flex-basis: fill;}
.fl-bas\(mx-cont\) {flex-basis: max-content;}
.fl-bas\(mn-cont\) {flex-basis: min-content;}
.fl-bas\(fit-cont\) {flex-basis: fit-content;}


















.acc-c {accent-color: inherit;}
