/*=====  block-model  ====*/
.d\(n\) {display: none;}
.d\(inh\) {display: inherit;}
.d\(init\) {display: initial;}
.d\(uns\) {display: unset;}
.d\(block\) {display: block;}
.d\(in\) {display: inline;}
.d\(run-in\) {display: run-in;}
.d\(flow\) {display: flow;}
.d\(flow-root\) {display: flow-root;}
.d\(tb\) {display: table;}
.d\(fl\) {display: flex;}
.d\(grd\) {display: grid;}
.d\(rb\) {display: ruby;}
.d\(in-block\) {display: inline-block;}
.d\(in-tb\) {display: inline-table;}
.d\(in-fl\) {display: inline-flex;}
.d\(in-grd\) {display: inline-grid;}
.d\(list-it\) {display: list-item;}
.d\(tb-row-group\) {display: table-row-group;}
.d\(tb-header-group\) {display: table-header-group;}
.d\(tb-footer-group\) {display: table-footer-group;}
.d\(tb-row\) {display: table-row;}
.d\(tb-cell\) {display: table-cell;}
.d\(tb-col-group\) {display: table-column-group;}
.d\(tb-col\) {display: table-column;}
.d\(tb-caption\) {display: table-caption;}
.d\(rb-bs\) {display: ruby-base;}
.d\(rb-tx\) {display: ruby-text;}
.d\(rb-tx-container\) {display: ruby-text-container;}

.pos\(stat\) {position: static;}
.pos\(rel\) {position: relative;}
.pos\(abs\) {position: absolute;}
.pos\(fix\) {position: fixed;}
.pos\(sti\) {position: sticky;}

.tp\(0\) {top: 0;}
.tp\(a\) {top: auto;}
.tp\(inh\) {top: inherit;}
.tp\(init\) {top: initial;}
.tp\(uns\) {top: unset;}
.rg\(0\) {right: 0;}
.rg\(a\) {right: auto;}
.rg\(inh\) {right: inherit;}
.rg\(init\) {right: initial;}
.rg\(uns\) {right: unset;}
.bt\(0\) {bottom: 0;}
.bt\(a\) {bottom: auto;}
.bt\(inh\) {bottom: inherit;}
.bt\(init\) {bottom: initial;}
.bt\(uns\) {bottom: unset;}
.lf\(0\) {left: 0;}
.lf\(a\) {left: auto;}
.lf\(inh\) {left: inherit;}
.lf\(init\) {left: initial;}
.lf\(uns\) {left: unset;}

.z\(0\) {z-index: 0;}
.z\(a\) {z-index: auto;}
.z\(inh\) {z-index: inherit;}
.z\(init\) {z-index: initial;}
.z\(uns\) {z-index: unset;}
.z\(rvt\) {z-index: revert;}

/*-- flexbox --*/
.fl\(n\) {flex: none;}
.fl\(a\) {flex: auto;}
.fl\(inh\) {flex: inherit;}
.fl\(init\) {flex: initial;}
.fl\(uns\) {flex: unset;}

.fl-bas\(0\) {flex-basis: 0;}
.fl-bas\(a\) {flex-basis: auto;}
.fl-bas\(inh\) {flex-basis: inherit;}
.fl-bas\(init\) {flex-basis: initial;}
.fl-bas\(uns\) {flex-basis: unset;}
.fl-bas\(cont\) {flex-basis: content;}
.fl-bas\(fill\) {flex-basis: fill;}
.fl-bas\(mx-cont\) {flex-basis: max-content;}
.fl-bas\(mn-cont\) {flex-basis: min-content;}
.fl-bas\(fit-cont\) {flex-basis: fit-content;}
.fl-shr\(0\) {flex-shrink: 0;}
.fl-shr\(inh\) {flex-shrink: inherit;}
.fl-shr\(init\) {flex-shrink: initial;}
.fl-shr\(uns\) {flex-shrink: unset;}
.fl-grw\(0\) {flex-grow: 0;}
.fl-grw\(inh\) {flex-grow: inherit;}
.fl-grw\(init\) {flex-grow: initial;}
.fl-grw\(uns\) {flex-grow: unset;}

.fl-dir\(row\) {flex-direction: row;}
.fl-dir\(row-rvs\) {flex-direction: row-reverse;}
.fl-dir\(col\) {flex-direction: column;}
.fl-dir\(col-rvs\) {flex-direction: column-reverse;}
.fl-dir\(inh\) {flex-direction: inherit;}
.fl-dir\(init\) {flex-direction: initial;}
.fl-dir\(uns\) {flex-direction: unset;}
.fl-wr\(wrap\) {flex-wrap: wrap;}
.fl-wr\(nowrap\) {flex-wrap: nowrap;}
.fl-wr\(wrap-rvs\) {flex-wrap: wrap-reverse;}
.fl-wr\(inh\) {flex-wrap: inherit;}
.fl-wr\(init\) {flex-wrap: initial;}
.fl-wr\(uns\) {flex-wrap: unset;}

.al-it\(fl-st\) {align-items: flex-start;}
.al-it\(fl-end\) {align-items: flex-end;}
.al-it\(cn\) {align-items: center;}
.al-it\(bs-ln\) {align-items: baseline;}
.al-it\(str\) {align-items: stretch;}
.al-it\(inh\) {align-items: inherit;}
.al-it\(init\) {align-items: initial;}
.al-it\(uns\) {align-items: unset;}

.al-sl\(a\) {align-self: auto;}
.al-sl\(norm\) {align-self: normal;}
.al-sl\(fl-st\) {align-self: flex-start;}
.al-sl\(fl-end\) {align-self: flex-end;}
.al-sl\(cn\) {align-self: center;}
.al-sl\(bs-ln\) {align-self: baseline;}
.al-sl\(str\) {align-self: stretch;}
.al-sl\(inh\) {align-self: inherit;}
.al-sl\(init\) {align-self: initial;}
.al-sl\(uns\) {align-self: unset;}
















.acc-c {accent-color: inherit;}
